ko.punch.com.mx {
	encode gzip
	reverse_proxy app:8443

	header {
		# Caddy ya manda HSTS vía la app; estos son extra de red
		-Server
	}

	log {
		output file /data/access.log {
			roll_size 10mb
			roll_keep 5
		}
	}
}
